Facebook - Post  - Tự Động Lưu Bài Viết - Page Test.json
{
  "name": "Facebook - Post  - Tự Động Lưu Bài Viết - Page Test",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        336,
        -96
      ],
      "id": "d66d0fea-d215-43c4-9b8f-424a5bb726b7",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "bUitWIoNQhLEyE2e",
          "name": "oitmo - comment & post"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        432,
        128
      ],
      "id": "f91833eb-51c1-413b-8cf2-c9cfec42d4d3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 7000,
        "chunkOverlap": 1,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        512,
        336
      ],
      "id": "79723de2-c1d5-4578-a0f5-b533a1856c87",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c31c4726-1f65-4f3c-a749-86665015f813",
              "name": "message",
              "value": "={{ $('Webhook').first().json.body.messages }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -96
      ],
      "id": "eea8255a-35c4-4b53-840c-2cb7f78fe193",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        800,
        -96
      ],
      "id": "65764296-5a66-4de0-b327-0fdbc665f125",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        128
      ],
      "id": "2b08eb51-826a-467e-834c-16f2a8fac4d1",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "zj6yLbnvVd30JHKi",
          "name": "Google Gemini - Tân"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "07c04ba3-02d8-4b5e-9e59-665be122a59c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        -96
      ],
      "id": "c3e6fe46-1bb9-491b-87f0-76aa08f1bd0f",
      "name": "Webhook",
      "webhookId": "07c04ba3-02d8-4b5e-9e59-665be122a59c"
    }
  ],
  "pinData": {},
  "connections": {
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7b2db15d-097d-4c14-9578-ccfc7fb56cfb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df75f6d19da9532b87ea5a84541b4ccc1d0dd5baf896242962b0dfcbc492bcf4"
  },
  "id": "QIudxM7FFPp6w8Pc",
  "tags": []
}